<h2>HI, {{ display_name }}</h2>

<p>Добро пожаловать в FOURSEASONS, пожалуйста потдвердите свою электронную почту по нижней ссылке.</p>

<p>
    <a href="{{ appUrl('register/confirm/' + confirmation_token ) }}">Потдвердите свою регистрацию по этой ссылке </a>
</p>

<p>
    <img src="./public/i.JPG" alt="i" title="i" />
</p>

<p>
    <img src="/i.JPG" alt="i" title="i" />
</p>

<p>
    <img src="cid:logo" alt="i" title="i" />
</p>